<h1><%= current_user.full_name %></h1>
<%= link_to 'Log out', destroy_user_session_path, method: :delete %>

<% if current_user.admin? %>
  <%= link_to 'User Management', admin_users_path %>
<% end %>

<% if basic_account?(current_user) %>
  <%= link_to 'Verify account', user_confirm_path(current_user) %>
<% end %>