<h1>Portfolio</h1>

<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th>Shares</th>
      <th>Price</th>
      <th>Total Value</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |user_stock| %>
      <tr>
        <td><%= user_stock.stock.ticker %></td>
        <td><%= number_with_delimiter(user_stock.shares) %></td>
        <td><%= number_to_currency(user_stock.stock.market_price) %></td>
        <td><%= number_to_currency(user_stock.value) %></td>
      </tr>  
    <% end %>
  </tbody>
</table>