---
http_interactions:
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/MSFT/company?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '11'
      iexcloud-credits-used:
      - '11'
      iexcloud-premium-messages-used:
      - '0'
      iexcloud-premium-credits-used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"MSFT","companyName":"Microsoft Corporation","exchange":"NASDAQ","industry":"rie
        aDd tnSstesiidPalHceo et,aR,a vgsregonscn ","website":"tsmmocroiwowfw..c","description":"ed
        r avfanlrvbasr  n eviep p olag dzii  oetto t  etoie osnetanodeonocydeatareeof
        n nuasntlroeiitiagoI nhrtoonnc serirotn sectmlslaiMn ialrefg maigopnweehfghenne  ietstl.tiels
        r  d eom mi r .ynat","CEO":" dayNlSltaeaa","securityName":"fspa rcMroiottoiCoorn","issueType":"sc","sector":"onirnaofmtI","primarySicCode":7410,"employees":166771,"tags":["osSiry
        gcenTeevlhco","acfaeoPd erSwakgt","tmnnarfoioI","tdlgec agc,svdiePniasre,
        aoteiRHosD a neSnrts "],"address":"cor s1tifaWyMo ","address2":null,"state":"gnnsoiathW","city":"nRoddme","zip":"2598096-39","country":"US","phone":"14493804404"}'
  recorded_at: Tue, 07 Sep 2021 09:13:25 GMT
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/MSFT/price?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '2'
      iexcloud-credits-used:
      - '2'
      iexcloud-premium-messages-used:
      - '0'
      iexcloud-premium-credits-used:
      - '0'
    body:
      encoding: UTF-8
      string: '303.02'
  recorded_at: Tue, 07 Sep 2021 09:13:26 GMT
[...]
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/MSFT/price?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '2'
      iexcloud-credits-used:
      - '2'
      iexcloud-premium-messages-used:
      - '0'
      iexcloud-premium-credits-used:
      - '0'
    body:
      encoding: UTF-8
      string: '305.7'
  recorded_at: Tue, 07 Sep 2021 09:13:29 GMT
recorded_with: VCR 6.0.0
