---
http_interactions:
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/MSFT/company?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '11'
      iexcloud-credits-used:
      - '11'
      iexcloud-premium-messages-used:
      - '0'
      iexcloud-premium-credits-used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"MSFT","companyName":"Microsoft Corporation","exchange":"NASDAQ","industry":"
        Rtrcdonag vaslnPrsanHtesa , s,eec DoSitegeidi","website":"s.fcotw.miowcowrm","description":"moratr
        os I t ns nitnrnuaoeimnoef lwrrer ee b ya eimtet ntn znmr os n eoiiohotcaief
        tne ate.e  rlas lnnotdlro eliniMtailcngetapgioso y n  rglsedeodaihe   enlfihaoaieoevdsdica
        oete vfpvrpgtas.gtn","CEO":"a adeytSlalNa","securityName":"MCorarrtooois fipcnto","issueType":"sc","sector":"nmoainrfIot","primarySicCode":7604,"employees":163422,"tags":["co
        nSclsviegeoeThyr","k cSraPawofeeagdt","iIfnornatmo","g,td,s oRgedn  l siiece
        vHanostPretnDaseairSac"],"address":"r say1WMocfio t","address2":null,"state":"saWohngnti","city":"nRdedom","zip":"-925089936","country":"SU","phone":"14659701968"}'
  recorded_at: Thu, 02 Sep 2021 13:11:19 GMT
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/MSFT/price?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '2'
      iexcloud-credits-used:
      - '2'
      iexcloud-premium-messages-used:
      - '0'
      iexcloud-premium-credits-used:
      - '0'
    body:
      encoding: UTF-8
      string: '307.59'
  recorded_at: Thu, 02 Sep 2021 13:11:20 GMT
recorded_with: VCR 6.0.0
