---
http_interactions:
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/MSFT/company?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '11'
      Iexcloud-Credits-Used:
      - '11'
      Iexcloud-Premium-Messages-Used:
      - '0'
      Iexcloud-Premium-Credits-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"MSFT","companyName":"Microsoft Corporation","exchange":"NASDAQ","industry":"a,
        na or,elitnPcSste oiatsRneedDs casdvHi ergg","website":".towoworcsmm.ifwc","description":"  soeene
        iIo rd tiseyaactte o r. i ufenlog.oeo  rda  rnnfensaispatldmttlenr owaia npg
        naromvnMtnlyre mntne tvoaioon trn n difaoag sfohe  siecneealgortbetiivietrt   heoehreilei
        tgpcnlsialems odz ","CEO":"d aalSytNalae","securityName":"roM orocnrotCatfiipso","issueType":"sc","sector":"oatnnoIirfm","primarySicCode":7719,"employees":167152,"tags":["ciTehcSogley
        rensvo","PedSactr aekgaofw","orIftmoiann","esscDen Seriroa  ec e,Pantnl gRgvdsa,diHtiatos"],"address":"sM
        1tciroyWa of","address2":null,"state":"nnashgtioW","city":"denmRod","zip":"28693959-0","country":"US","phone":"14515398970"}'
  recorded_at: Thu, 02 Sep 2021 10:27:39 GMT
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/MSFT/price?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '2'
      Iexcloud-Credits-Used:
      - '2'
      Iexcloud-Premium-Messages-Used:
      - '0'
      Iexcloud-Premium-Credits-Used:
      - '0'
    body:
      encoding: UTF-8
      string: '303.98'
  recorded_at: Thu, 02 Sep 2021 10:27:40 GMT
recorded_with: VCR 6.0.0
