---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/company?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '11'
      iexcloud-credits-used:
      - '11'
      iexcloud-premium-messages-used:
      - '0'
      iexcloud-premium-credits-used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"MSFT","companyName":"Microsoft Corporation","exchange":"NASDAQ","industry":"Data
        Processing, Hosting, and Related Services","website":"www.microsoft.com","description":"Microsoft
        enables digital transformation for the era of an intelligent cloud and an
        intelligent edge. Its mission is to empower every person and every organization
        on the planet to achieve more.","CEO":"Satya Nadella","securityName":"Microsoft
        Corporation","issueType":"cs","sector":"Information","primarySicCode":7372,"employees":163000,"tags":["Technology
        Services","Packaged Software","Information","Data Processing, Hosting, and
        Related Services"],"address":"1 Microsoft Way","address2":null,"state":"Washington","city":"Redmond","zip":"98052-6399","country":"US","phone":"14258828080"}'
  recorded_at: Wed, 06 Oct 2021 07:51:21 GMT
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/quote?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      iexcloud-messages-used:
      - '2'
      iexcloud-credits-used:
      - '2'
      iexcloud-premium-messages-used:
      - '0'
      iexcloud-premium-credits-used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"avgTotalVolume":25717112,"calculationPrice":"close","change":5.65,"changePercent":0.01996,"close":288.76,"closeSource":"official","closeTime":1633464000458,"companyName":"Microsoft
        Corporation","currency":"USD","delayedPrice":288.68,"delayedPriceTime":1633463997420,"extendedChange":-0.55,"extendedChangePercent":-0.0019,"extendedPrice":288.21,"extendedPriceTime":1633478398122,"high":290.398,"highSource":"15
        minute delayed price","highTime":1633464005909,"iexAskPrice":0,"iexAskSize":0,"iexBidPrice":0,"iexBidSize":0,"iexClose":288.75,"iexCloseTime":1633463999991,"iexLastUpdated":1633464875236,"iexMarketPercent":0.020318789755093263,"iexOpen":288.62,"iexOpenTime":1633464875236,"iexRealtimePrice":288.62,"iexRealtimeSize":7,"iexVolume":507828,"lastTradeTime":1633464026485,"latestPrice":288.76,"latestSource":"Close","latestTime":"October
        5, 2021","latestUpdate":1633464000458,"latestVolume":24993024,"low":284.046,"lowSource":"15
        minute delayed price","lowTime":1633440601015,"marketCap":2169999996772,"oddLotDelayedPrice":288.67,"oddLotDelayedPriceTime":1633463997402,"open":284.14,"openTime":1633440602188,"openSource":"official","peRatio":35.87,"previousClose":283.11,"previousVolume":31350747,"primaryExchange":"NASDAQ","symbol":"MSFT","volume":24993024,"week52High":305.84,"week52Low":197.8,"ytdChange":0.30114797364040924,"isUSMarketOpen":false}'
  recorded_at: Wed, 06 Oct 2021 07:51:22 GMT
[...]
