---
http_interactions:
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/MSFT/company?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '11'
      Iexcloud-Credits-Used:
      - '11'
      Iexcloud-Premium-Messages-Used:
      - '0'
      Iexcloud-Premium-Credits-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"MSFT","companyName":"Microsoft Corporation","exchange":"NASDAQ","industry":"ev,
        esiR caDic,trS dsleontrsn naagtdsePaogHi e","website":"ocomw.otrsmfcw.wi","description":"
        fairnioaoabnvtngts oignaroiene .ooeteg  gMl.vylanmiaimla  a mtea htnrdesplfeeaoattco
        tzdaedr ontpepd e e fnrtvno nynet ic rhrrtnihssoeitsi tl do eraineuli  e  seiwnglIrfroocm
        ee  es  slntieono ","CEO":"Say aetaaNdll","securityName":"afroMtoicroCostnp
        rio","issueType":"cs","sector":"oIrmoinaftn","primarySicCode":7517,"employees":166961,"tags":["TcSsergyio
        onelvhce","ga SaoarwdetcPfek","ootfmrniIna","sdnolati ie oDe d cSsaiRceg tese,rvgHtnPasran,"],"address":"
        sc oyWMrat1oif","address2":null,"state":"gntoshaWni","city":"nedRodm","zip":"899350269-","country":"SU","phone":"14365197739"}'
  recorded_at: Thu, 02 Sep 2021 10:40:57 GMT
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/stock/MSFT/price?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '2'
      Iexcloud-Credits-Used:
      - '2'
      Iexcloud-Premium-Messages-Used:
      - '0'
      Iexcloud-Premium-Credits-Used:
      - '0'
    body:
      encoding: UTF-8
      string: '313.02'
  recorded_at: Thu, 02 Sep 2021 10:40:58 GMT
recorded_with: VCR 6.0.0
